body {
    text-align: center;
    background-color: #1C1C1C;
}
h1 {
    color: #FF9500;
}
#calculation-input {
    padding: 15px;
    border-width: 0;
    background-color: #1C1C1C;
}
.row-1, 
.row-2, .row-3, .row-4{
    margin: 8px;
}
.cancel-button {
    border-radius: 48%;
    border-width: 0;
    padding: 20px;
    background-color: #D4D4D2;
}
.negative-button {
   border-radius: 50%;
    border-width: 0;
    padding: 20px; 
    background-color: #D4D4D2;
}
.percentage-button {
   border-radius: 50%;
    border-width: 0;
    padding: 20px; 
    background-color: #D4D4D2;
}
.division-button {
   border-radius: 50%;
    border-width: 0;
    padding: 20px; 
    background-color: #FF9500;
}
.seven-button {
   border-radius: 50%;
    border-width: 0;
    padding: 20px; 
    background-color: #505050;
}
.eight-button {
   border-radius: 50%;
    border-width: 0;
    padding: 20px; 
    background-color: #505050;
}
.nine-button {
   border-radius: 50%;
    border-width: 0;
    padding: 20px; 
    background-color: #505050;
}
.multiply-button {
   border-radius: 50%;
    border-width: 0;
    padding: 20px; 
    background-color: #FF9500;
}
.four-button {
   border-radius: 50%;
    border-width: 0;
    padding: 20px; 
    background-color: #505050;
}.five-button {
   border-radius: 50%;
    border-width: 0;
    padding: 20px; 
    background-color: #505050;
}.six-button {
   border-radius: 50%;
    border-width: 0;
    padding: 20px; 
    background-color: #505050;
}
.minus-button {
   border-radius: 50%;
    border-width: 0;
    padding: 20px; 
    background-color: #FF9500;
}
.one-button {
   border-radius: 50%;
    border-width: 0;
    padding: 20px; 
    background-color: #505050;
}.two-button {
   border-radius: 50%;
    border-width: 0;
    padding: 20px; 
    background-color: #505050;
}.three-button {
   border-radius: 50%;
    border-width: 0;
    padding: 20px; 
    background-color: #505050;
}
.plus-button {
   border-radius: 50%;
    border-width: 0;
    padding: 20px; 
    background-color: #FF9500;
}
.zero-button {
   border-radius: 25%;
    border-width: 0;
    padding: 20px 48px; 
    text-align: left;
    background-color: #505050;
}.point-button {
   border-radius: 50%;
    border-width: 0;
    padding: 22px; 
    background-color: #505050;
}.equal-button {
   border-radius: 50%;
    border-width: 0;
    padding: 20px; 
    background-color: #FF9500;
}